<div class="center hero-unit">
	

<h1>Welcome to Seeke</h1>
<p>
	Planning your best weekends ever
</p>

<p> <%= link_to 'Sign up now!', new_user_registration_path , class: "btn btn-large btn-primary" %> </p>

</div>

<div class="row">
  <div class="span4">
	
	<img src="http://thesugarmagnolia.files.wordpress.com/2013/07/downthisroad-09.jpg?w=200&h=200" class="img-polaroid">
	
	<h2>Never be Bored</h2>
		<p>Seeke gives you a custom itinerary for your weekend. Whether your hanging in your neighborhood or visiting a new city, you will never have to ask, "What are we doing this weekend" again.</p>
  </div>
  
  <div class="span4">

<img src="http://thesugarmagnolia.files.wordpress.com/2012/07/amandapeetshouse1.jpeg?w=250&h=210" class="img-polaroid">

<h2>Just for You</h2>
  <p>We plan out your weekends based on your personality, interests and what going on around you. If you don't a component of your plan, no worries, just switch it out for something new.</p>
  </div>
 
 <div class="span4">

<img src="http://thesugarmagnolia.files.wordpress.com/2013/08/cote-de-azure-by-irene-suchocki.jpg?w=200&h=200" class="img-polaroid">

 <h2>It's Taken Care of</h2>
 <p>From making reservations to mapping your directions to your next destination, we've got you covered. All you have to do is follow the plan and have fun!</p>
 </div>
</div>